.DS_Store
.gitignore
.eslintrc
.vscode
archive
npm-debug.log
tests.browser
tests.examples
tests.manual
tests.node
tests.typescript
build.browser.js
index.browser.js
pre-push.js
test-browser.js
test-examples.js
test.js
tsconfig.json
