# This workflow will publish the npm package when a release is created

name: NPM publish

on:
  release:
    # This specifies that the build will be triggered when we publish a release
    types: [published]

jobs:
  build:

    # Run on latest version of ubuntu
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # "ref" specifies the branch to check out.
        # "github.event.release.target_commitish" is a global variable and specifies the branch the release targeted
        ref: ${{ github.event.release.target_commitish }}
    # install Node.js
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        # Specifies the registry, this field is required for publishing below!
        registry-url: https://registry.npmjs.org/

    - name: ENVVARS
      env:
        EVENT_CONTEXT: ${{ toJson(github.event) }}
      run: |
        git config --global user.name "losandes cicd"
        git config --global user.email "andes.collab+ghcicd@gmail.com"
        echo "node: $(node --version)"
        echo "npm: $(npm --version)"
      # echo "EVENT_CONTEXT:"
      # echo "$EVENT_CONTEXT"

    - name: Install Packages
      run: |
        npm i -g pnpm
        pnpm install

    - name: Build Browser Distribution
      run: pnpm run build --if-present

    - name: Run Tests
      env:
        CI: true
      run: pnpm run test:coverage:ci

    - name: Commit Browser Build
      run: |
        git add -A
        git commit -m "cicd: updates browser distribution"

    # upgrade npm version in package.json to the tag used in the release.
    - name: Set Package Version
      run: npm version ${{ github.event.release.tag_name }}

    # publish the package to NPM and set the tag name to the branch name that
    # the release is targeting (i.e. latest, latest-v1, etc.)
    # Note that npm publish commits a tag to git
    # alsosee: https://michaelzanggl.com/articles/github-actions-cd-setup/
    - name: Publish to NPM
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: npm publish --tag ${{ github.event.release.target_commitish }}

    - name: Push Version Change to latest
      env:
        # The secret is passed automatically. Nothing to configure.
        github-token: ${{ secrets.GITHUB_TOKEN }}
      run: git push
